





/* Borders, colors, margins and paddings
------------------------------------------------ */
.border-calculator {
    border: 2px solid #000000;
    border-radius: 10%;
    width: 20%;
    background-color: #dddbd7;
}

.console { 
    background-color: #000000;
    color: white;
    text-align: right;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}

#console-1, #console-2 {
    height: 12px;
}

@media screen and (max-width: 1300px) {
    .border-calculator{
        width: 25%;
    }   
}
@media screen and (max-width: 1024px) {
    .border-calculator{
        width: 30%;
    }   
}
@media screen and (max-width: 820px) {
    .border-calculator{
        width: 35%;
    }   
}
@media screen and (max-width: 740px) {
    .border-calculator{
        width: 40%;
    }   
}
@media screen and (max-width: 620px) {
    .border-calculator{
        width: 45%;
    }   
}

@media screen and (max-width: 520px) {
    .border-calculator{
        width: 65%;
    }   
}

@media screen and (max-width:425px) {
    .border-calculator{
        width: 75%;
    }   
}
@media screen and (max-width: 320px) {
    .border-calculator{
        width: 85%;
    }   
}

/* ----------------------------------- */

/* Buttons
--------------------------- */

.btn--orange {
    width: 40px;
    height: 40px;
    background-color: #E0672F;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #000000;
}

.btn--orange:hover {
    background-color: #3D373B;
    color: #fafafa;
}

/* ---------------------------- */